# VALORES FALTANTES (missing values)

In [2]:
#Importar las librerias
import numpy as np
import pandas as pd

In [3]:
#Cargar Dataset 
Dataframe  = pd.read_csv('D:/Universidad/Cursos/Curso Sckit Learn for Machine Learning/Machine Learning for Data Preprocessing/train_kOBLwZA.csv')

In [4]:
#Informacion del Dataset Cargado
Dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [5]:
Dataframe.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

### VARIABLE CONTINUA

In [6]:
#Missing Values por cada Columna
Dataframe.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [7]:
#Revisamos los valores de la columna 'Item Weight'
Dataframe['Item_Weight'].head()

0     9.30
1     5.92
2    17.50
3    19.20
4     8.93
Name: Item_Weight, dtype: float64

In [8]:
#Utilizaremos su promedio
Dataframe['Item_Weight'].mean()

12.857645184135976

In [9]:
#Importamos SimpleImputer para reemplazar los datos nulos(nan) por el promedio(nan) de todos los datos
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy='mean')

In [10]:
#Rellenamos los valores nan por el promedio de los demas valores de la columna
imputer = imputer.fit(Dataframe.iloc[:,1:2])
Dataframe.loc[:,1:2] = imputer.transform(Dataframe.iloc[:,1:2])

In [11]:
#Rectificamos que no hayan valores nulos en la columna 'Item_Weight'
Dataframe['Item_Weight'].isnull().sum()

0

### VARIABLE CATEGORICA

In [12]:
#Visualizamos los 15 primeros datos de la columna 'Outlet_Size'
Dataframe['Outlet_Size'].head(15)

0     Medium
1     Medium
2     Medium
3        NaN
4       High
5     Medium
6       High
7     Medium
8        NaN
9        NaN
10    Medium
11     Small
12    Medium
13     Small
14      High
Name: Outlet_Size, dtype: object

In [13]:
#Observamos cuantos valores nulos tiene la columna 'Outlet'
Dataframe['Outlet_Size'].isnull().sum()

2410

In [14]:
#Muestra los unicos valores que tiene la columna 'Outlet_Type'
Dataframe['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [15]:
#Muestra los unicos valores que tiene la columna 'Outlet_Size'
Dataframe['Outlet_Size'].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [16]:
#Muestra los unicos valores que tiene la columna 'Outlet_Location_Type'
Dataframe['Outlet_Location_Type'].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [17]:
#Para poder observar la moda, los valores y su cantidad reemplazamos los valores nulos por 'Other'
Dataframe['Outlet_Size'].fillna('Other', inplace=True)

In [18]:
#Observamos los valores de la variable 'Outle_Size' segun 'Outlet_Type' y 'Outlet_Location_Type'
Dataframe.groupby(['Outlet_Type','Outlet_Location_Type'])['Outlet_Size'].agg(pd.Series.unique)

Outlet_Type        Outlet_Location_Type
Grocery Store      Tier 1                            Small
                   Tier 3                            Other
Supermarket Type1  Tier 1                  [Medium, Small]
                   Tier 2                   [Other, Small]
                   Tier 3                             High
Supermarket Type2  Tier 3                           Medium
Supermarket Type3  Tier 3                           Medium
Name: Outlet_Size, dtype: object

In [19]:
#Observamos que valor es mas fercuente en la variable 'Outle_Size' segun 'Outlet_Type' y 'Outlet_Location_Type'
Dataframe.groupby(['Outlet_Type','Outlet_Location_Type'])['Outlet_Size'].agg(pd.Series.mode)

Outlet_Type        Outlet_Location_Type
Grocery Store      Tier 1                            Small
                   Tier 3                            Other
Supermarket Type1  Tier 1                  [Medium, Small]
                   Tier 2                            Other
                   Tier 3                             High
Supermarket Type2  Tier 3                           Medium
Supermarket Type3  Tier 3                           Medium
Name: Outlet_Size, dtype: object

In [20]:
#Observamos la cantidad de valores en la variables 'Outle_Size' segun 'Outlet_Type' y 'Outlet_Location_Type'
Dataframe.groupby(['Outlet_Type','Outlet_Location_Type'])['Outlet_Size'].agg(pd.Series.value_counts)

Outlet_Type        Outlet_Location_Type
Grocery Store      Tier 1                          528
                   Tier 3                          555
Supermarket Type1  Tier 1                   [930, 930]
                   Tier 2                  [1855, 930]
                   Tier 3                          932
Supermarket Type2  Tier 3                          928
Supermarket Type3  Tier 3                          935
Name: Outlet_Size, dtype: object

In [112]:
#Cambiamos de nuevo el dato 'Other' por NaN 
Dataframe['Outlet_Size'].replace('Other', np.nan , inplace= True)

In [177]:
#Importamos SimpleImputer para reemplazar los datos nulos(nan) por el valor mas frecuente(nan) de toda la columna
imputer2 = SimpleImputer(missing_values = np.nan, strategy='most_frequent')

In [178]:
#Rellenamos los valores nan por el valor mas frecuente de toda la columna 
imputer2 = imputer2.fit(Dataframe.iloc[:,8:9])
Dataframe.loc[:,8:9] = imputer2.transform(Dataframe.iloc[:,8:9])

In [179]:
#Rectificamos si aun existen valores nulos en la columna 'Outlet_Size'
Dataframe['Outlet_Size'].isnull().sum()

0

In [181]:
#Podemos ver que no existe valores nulos (missing values) en ninguna columna del dataframe
Dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB